<div class="body1">
    
    <h1>
        ABOUT US
        <br>
        <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align="center">
    </h1>
    <article>
       
        <div class="box "> Welcome to Freshera, a leading IT firm dedicated to empowering businesses through innovative cloud solutions and comprehensive IT services.
            Our mission is to help organizations of all sizes harness the power of technology to achieve their goals, enhance efficiency, and stay ahead in an ever-evolving digital landscape.
        </div>
    </article>
    <div class="social_icons">
        <div class="square">
            <div class="icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
      </div>
      <div class="square">
          <div class="icons">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>
        </div>
        <div class="square">
            <div class="icons">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
        <div class="square">
            <div class="icons">
                <i class="fa fa-linkedin linkedIn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
 
</div>
<div class="content  sps">
    <div class="item-bordered item-border-radius">
        
    </div>
    
    <h4 style="font-size: 30px" class="mt-4">Who We Are</h4>
    
   
    <p class="lowertext mt-4" >At Freshera, we are a team of passionate IT professionals with a deep understanding of the latest technologies and industry best practices.
Our expertise spans across cloud computing, DevOps, cybersecurity, data management, and a wide array of other IT services.
We pride ourselves on delivering customized solutions that align with the unique needs and objectives of each client.</p>

    <h4 style="font-size: 30px" class="mt-4">What We Do</h4>
    
    <p class="mt-4 lowertext">We offer a broad spectrum of IT services designed to meet the diverse needs of modern businesses</p>
   

</div>

<!-- services -->
<br>
<br>
<div class="parent2">
    <section class="section">
        <div class="container">
            <div class="row">
                <header class="col-12">
                    <div class="section-heading heading-center">
                    
                        <h2>Our Services</h2>
                    </div>
                </header>
              
    <div class="col-md-6 col-xl-4 col-12 item">
        <a  class="iitem item-style iitem-hover">
            <div class="iitem-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM10 17l-3.5-3.5 1.41-1.41L10 14.17 15.18 9l1.41 1.41L10 17z"/></svg>
                
            </div>
            <div class="iitem-icon-bg">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM10 17l-3.5-3.5 1.41-1.41L10 14.17 15.18 9l1.41 1.41L10 17z"/></svg>
            </div>
            <h2 class="iitem-heading item-heading-large">Cloud Solutions</h2>
            <p style="margin-top: 47px"></p>
            
            <div class="iitem-desc">From cloud migration and management to optimizing cloud environments, we provide end-to-end solutions that ensure your business leverages the full potenitial of cloud technology.   <br>
            <br></div>
        </a>
    </div>
    
    <div class="col-md-6 col-xl-4 col-12 item">
        <a class="iitem item-style iitem-hover">
            <div class="iitem-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.6 6.62c-1.44 0-2.8.56-3.77 1.53L12 10.66 10.48 12h.01L7.8 14.39c-.64.64-1.49.99-2.4.99-1.87 0-3.39-1.51-3.39-3.38S3.53 8.62 5.4 8.62c.91 0 1.76.35 2.44 1.03l1.13 1 1.51-1.34L9.22 8.2C8.2 7.18 6.84 6.62 5.4 6.62 2.42 6.62 0 9.04 0 12s2.42 5.38 5.4 5.38c1.44 0 2.8-.56 3.77-1.53l2.83-2.5.01.01L13.52 12h-.01l2.69-2.39c.64-.64 1.49-.99 2.4-.99 1.87 0 3.39 1.51 3.39 3.38s-1.52 3.38-3.39 3.38c-.9 0-1.76-.35-2.44-1.03l-1.14-1.01-1.51 1.34 1.27 1.12c1.02 1.01 2.37 1.57 3.82 1.57 2.98 0 5.4-2.41 5.4-5.38s-2.42-5.37-5.4-5.37z"/></svg>
                
            </div>
            <div class="iitem-icon-bg">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.6 6.62c-1.44 0-2.8.56-3.77 1.53L12 10.66 10.48 12h.01L7.8 14.39c-.64.64-1.49.99-2.4.99-1.87 0-3.39-1.51-3.39-3.38S3.53 8.62 5.4 8.62c.91 0 1.76.35 2.44 1.03l1.13 1 1.51-1.34L9.22 8.2C8.2 7.18 6.84 6.62 5.4 6.62 2.42 6.62 0 9.04 0 12s2.42 5.38 5.4 5.38c1.44 0 2.8-.56 3.77-1.53l2.83-2.5.01.01L13.52 12h-.01l2.69-2.39c.64-.64 1.49-.99 2.4-.99 1.87 0 3.39 1.51 3.39 3.38s-1.52 3.38-3.39 3.38c-.9 0-1.76-.35-2.44-1.03l-1.14-1.01-1.51 1.34 1.27 1.12c1.02 1.01 2.37 1.57 3.82 1.57 2.98 0 5.4-2.41 5.4-5.38s-2.42-5.37-5.4-5.37z"/></svg>
            </div>
            <h2 class="iitem-heading item-heading-large">DevOps Services</h2>
            <p style="margin-top: 47px"></p>
            
            <div class="iitem-desc"> We Streamline your development and operations process,enhancing collaboration, accelerating delivery cycles, and ensuring high-quality software deployments. <br>
            <br></div>
        </a>
    </div>
    
  
    
    <div class="col-md-6 col-xl-4 col-12 item">
        <a class="iitem item-style iitem-hover">
            <div class="iitem-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 6h18V4H4c-1.1 0-2 .9-2 2v11H0v3h14v-3H4V6zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"/></svg>
                
            </div>
            <div class="iitem-icon-bg">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 6h18V4H4c-1.1 0-2 .9-2 2v11H0v3h14v-3H4V6zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"/></svg>
            </div>
            <h2 class="iitem-heading item-heading-large">IT Infrastructure Management</h2>
            <p style="margin-top: 47px"></p>
            
            <div class="iitem-desc"> We manage and optimize your IT infrastructure, ensuring it is secure, reliable, and scalable to support your business growth. <br>
            <br> <br></div>
        </a>
    </div>
    
    
                        
                   
                <div class="section-footer col-12 section-footer-animate">
                    <div class="btn-group align-items-center justify-content-center">
                        <button class="shine-button" routerLink="/services">
                            <span class="shine-content">See All Services</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section section-bgc">
    <div class="container">
        <div class="row litems">
            <div class="col-12">
                <div class="section-heading heading-center">
                    
                    <h2>Why Choose Us</h2>
                </div> 
            </div>
            <p style="color: black;font-size: 18px;">At Freshera, we are more than just a service provider; we are your trusted technology partner. Let us help you transform your IT infrastructure, secure your digital assets, and drive your business forward with cutting-edge solutions.</p>
            <div class="col-lg-4 col-md-6 col-12 litem">
                <div class="ini">
                    <div class="ini-count">01</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Dedicated 24\7 <br> Support</h3>
                        <div class="ini-desc">
                            <p>You can rely on our 24/7 tech support that will gladly solve any app issue you may have.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12 litem">
                <div class="ini">
                    <div class="ini-count">02</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Expertise</h3>
                        <div class="ini-desc">
                            <p> Our team is comprised of industry-certified professionals with extensive experience in cloud computing and IT services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 litem">
                <div class="ini">
                    <div class="ini-count">03</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Customization</h3>
                        <div class="ini-desc">
                            <p> We tailor our solutions to meet your specific business needs, ensuring you get the maximum value from your IT investments.</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 col-12 litem">
                <div class="ini">
                    <div class="ini-count">04</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Customer-Centric Approach</h3>
                        <div class="ini-desc">
                            <p> We prioritize your success and satisfaction, offering ongoing support and guidance to help you navigate the complexities of the digital world.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 litem">
                <div class="ini">
                    <div class="ini-count">05</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Innovation</h3>
                        <div class="ini-desc">
                            <p> We stay at the forefront of technological advancements, ensuring that our clients benefit from the latest innovations in the IT industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row items">
            <div class="col-12">
                <div class="section-heading heading-center">
                    
                    <h2>Our customers</h2>
                    <p class="section-desc">Our customers have disrupted industries, opened new markets, and made countless lives better. We are privileged to work with hundreds of future-thinking businesses, including many of the world’s top hardware, software, and consumer brands.</p>
                <hr>
                </div> 
            </div>
            
        </div>
    </div>
</section>
