<div class="section">
    <div class="container">
        <div class="row items">
            <header class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">Areas what we serve</div>
                    <h1>Our Services</h1>
                </div>
            </header>
            <div class="col-md-6 col-xl-4 col-12 item">
                <a  class="iitem item-style iitem-hover">
                    <div class="iitem-icon">
                        <svg class="material-icons material-icons-outlined md-48" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M21,12.22C21,6.73,16.74,3,12,3c-4.69,0-9,3.65-9,9.28C2.4,12.62,2,13.26,2,14v2c0,1.1,0.9,2,2,2h1v-6.1 c0-3.87,3.13-7,7-7s7,3.13,7,7V19h-8v2h8c1.1,0,2-0.9,2-2v-1.22c0.59-0.31,1-0.92,1-1.64v-2.3C22,13.14,21.59,12.53,21,12.22z"/><circle cx="9" cy="13" r="1"/><circle cx="15" cy="13" r="1"/><path d="M18,11.03C17.52,8.18,15.04,6,12.05,6c-3.03,0-6.29,2.51-6.03,6.45c2.47-1.01,4.33-3.21,4.86-5.89 C12.19,9.19,14.88,11,18,11.03z"/></g></g></svg>
                        
                    </div>
                    <div class="iitem-icon-bg">
                        <svg class="material-icons material-icons-outlined md-48" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M21,12.22C21,6.73,16.74,3,12,3c-4.69,0-9,3.65-9,9.28C2.4,12.62,2,13.26,2,14v2c0,1.1,0.9,2,2,2h1v-6.1 c0-3.87,3.13-7,7-7s7,3.13,7,7V19h-8v2h8c1.1,0,2-0.9,2-2v-1.22c0.59-0.31,1-0.92,1-1.64v-2.3C22,13.14,21.59,12.53,21,12.22z"/><circle cx="9" cy="13" r="1"/><circle cx="15" cy="13" r="1"/><path d="M18,11.03C17.52,8.18,15.04,6,12.05,6c-3.03,0-6.29,2.51-6.03,6.45c2.47-1.01,4.33-3.21,4.86-5.89 C12.19,9.19,14.88,11,18,11.03z"/></g></g></svg>
                    </div>
                    <h2 class="iitem-heading item-heading-large">24x7 Support</h2>
                    <p style="margin-top: 47px"></p>
                    
                    <div class="iitem-desc">You can rely on our 24/7 tech support that will gladly solve any issue you may have.Our team believes in providing 24*7 support to tackle all the issues related to our managed services supported by Service Level Agreements (SLAs) and keeps a check on the performance issues with threats and insecurities <br>
                    <br></div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4 col-12 item">
                <a  class="iitem item-style iitem-hover">
                    <div class="iitem-icon">
                        <svg class="material-icons material-icons-outlined md-48" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM10 17l-3.5-3.5 1.41-1.41L10 14.17 15.18 9l1.41 1.41L10 17z"/></svg>
            
                    </div>
                    <div class="iitem-icon-bg">
                        <svg class="material-icons material-icons-outlined md-48" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM10 17l-3.5-3.5 1.41-1.41L10 14.17 15.18 9l1.41 1.41L10 17z"/></svg>
                    </div>
                    <h2 class="iitem-heading item-heading-large">Cloud Managed Services</h2>
                    <div class="iitem-desc"> We believe in solutions with minimum time and capital expenditure, giving a boost to business processes. We tend to simplify huge cloud deployment architecture processes to build customer value and achieve extraordinary results.
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4 col-12 item">
                <a  class="iitem item-style iitem-hover">
                    <div class="iitem-icon">
                        <svg class="material-icons material-icons-outlined md-48" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
                        
                    </div>
                    <div class="iitem-icon-bg">
                        <svg class="material-icons material-icons-outlined md-48" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
                    </div>
                    <h2 class="iitem-heading item-heading-large">Cloud Migration Services</h2>
                    <div class="iitem-desc">Our migration methodologies including lifting, shifting, automation and optimization are suitable for the variable demands of our customers.Freshera starts with the evaluation of applications and only permits the ones that fit the migration criteria, ground plans for minimal disturbance, and a high-end approach towards achievement.</div>
                </a>
            </div>
            <!-- next -->
            <div class="col-md-6 col-xl-4 col-12 item">
                <a  class="iitem item-style iitem-hover">
                    <div class="iitem-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 18H6V8h3v4.77L15.98 6 18 8.03 11.15 15H16v3z"/></svg>
                        
                    </div>
                    <div class="iitem-icon-bg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 18H6V8h3v4.77L15.98 6 18 8.03 11.15 15H16v3z"/></svg>
                    </div>
                    <h2 class="iitem-heading item-heading-large">Migrating Linux and Open-Source Workload to AWS and Azure</h2>
                    <div class="iitem-desc">Linux workloads are becoming progressively popular for enterprise workloads and this number is expected to rise further. This surge is driving the requirement for comprehensive support of Linux in all cloud environments, including AWS and Azure.</div>
                <br>
                </a>
            </div>
            <!-- next -->
            <div class="col-md-6 col-xl-4 col-12 item">
                <a class="iitem item-style iitem-hover">
                    <div class="iitem-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.5 14H8c-1.66 0-3-1.34-3-3s1.34-3 3-3l.14.01C8.58 8.28 10.13 7 12 7c2.21 0 4 1.79 4 4h.5c1.38 0 2.5 1.12 2.5 2.5S17.88 16 16.5 16z"/></svg>
                        
                    </div>
                    <div class="iitem-icon-bg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.5 14H8c-1.66 0-3-1.34-3-3s1.34-3 3-3l.14.01C8.58 8.28 10.13 7 12 7c2.21 0 4 1.79 4 4h.5c1.38 0 2.5 1.12 2.5 2.5S17.88 16 16.5 16z"/></svg>
                    </div>
                    <h2 class="iitem-heading item-heading-large">Cloud Optimization</h2>
                    <div class="iitem-desc">Freshera creates methods for its customers for cloud optimization which ought to be holistic and have a balanced approach to suit both the need to cut down expenditure and business imperative for high-end achievements. The journey of optimization is a continuous process towards evolving needs, changing priorities, adapting the latest tools and high technologies, essential growth and wide expansion.</div>
                <br>
                </a>
            </div>
            <!-- next -->
            <div class="col-md-6 col-xl-4 col-12 item">
                <div  class="iitem item-style iitem-hover">
                    <div class="iitem-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.6 6.62c-1.44 0-2.8.56-3.77 1.53L12 10.66 10.48 12h.01L7.8 14.39c-.64.64-1.49.99-2.4.99-1.87 0-3.39-1.51-3.39-3.38S3.53 8.62 5.4 8.62c.91 0 1.76.35 2.44 1.03l1.13 1 1.51-1.34L9.22 8.2C8.2 7.18 6.84 6.62 5.4 6.62 2.42 6.62 0 9.04 0 12s2.42 5.38 5.4 5.38c1.44 0 2.8-.56 3.77-1.53l2.83-2.5.01.01L13.52 12h-.01l2.69-2.39c.64-.64 1.49-.99 2.4-.99 1.87 0 3.39 1.51 3.39 3.38s-1.52 3.38-3.39 3.38c-.9 0-1.76-.35-2.44-1.03l-1.14-1.01-1.51 1.34 1.27 1.12c1.02 1.01 2.37 1.57 3.82 1.57 2.98 0 5.4-2.41 5.4-5.38s-2.42-5.37-5.4-5.37z"/></svg>
                        
                    </div>
                    <div class="iitem-icon-bg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.6 6.62c-1.44 0-2.8.56-3.77 1.53L12 10.66 10.48 12h.01L7.8 14.39c-.64.64-1.49.99-2.4.99-1.87 0-3.39-1.51-3.39-3.38S3.53 8.62 5.4 8.62c.91 0 1.76.35 2.44 1.03l1.13 1 1.51-1.34L9.22 8.2C8.2 7.18 6.84 6.62 5.4 6.62 2.42 6.62 0 9.04 0 12s2.42 5.38 5.4 5.38c1.44 0 2.8-.56 3.77-1.53l2.83-2.5.01.01L13.52 12h-.01l2.69-2.39c.64-.64 1.49-.99 2.4-.99 1.87 0 3.39 1.51 3.39 3.38s-1.52 3.38-3.39 3.38c-.9 0-1.76-.35-2.44-1.03l-1.14-1.01-1.51 1.34 1.27 1.12c1.02 1.01 2.37 1.57 3.82 1.57 2.98 0 5.4-2.41 5.4-5.38s-2.42-5.37-5.4-5.37z"/></svg>
                    </div>
                    <h2 class="iitem-heading item-heading-large">Managed Devops</h2>
                    <div class="iitem-desc">Freshera cloud migration services comply with the best of AWS cloud security and are dependent on a convenient framework that automates routine, reruns tasks like procuring, configuring, and deploying infrastructure. It also designs applications with a breakdown of tasks which ensures the cohesion, security, stability, and standardization.</div>
             <br>
             <br>
                </div>
            </div>
        </div>
    </div>
</div>