*{
    box-sizing: border-box;
}
.section{
    position: relative;
    padding: 4.5rem 0;
    background-color: #ffffff;
    color: #303036;
}

/* 1.4 Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.3;
    padding: 0;
    margin: 0 0 2rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    margin: 0 0 2rem 0;
}
.section-header-margin-none .section-heading {
    margin: 0;
}
.heading-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.heading-center .section-desc {
    margin-left: auto;
    margin-right: auto;
}
hr {
    border: 1px solid #000; /* Change the color and thickness as needed */
    margin-top: 20px; /* Adjust the spacing as needed */
    margin-bottom: 15px;
  }